# Rename to .env for docker compose to load these values automatically.

# Base runtime
PUID=1000
PGID=1000
TZ=Europe/Lisbon

# Paths
DOCKER_DIR=/opt/dome/docker
DOCKER_LOGS=/opt/dome/logs
DOCKER_RUNTIME=/opt/dome/runtime
# mounted LVM fast storage for models
DOCKER_MODELS=/srv/models
# mounted NFS slow storage for archived models
DOCKER_MODELS_ARCHIVE=/srv/models-archive

# Images
OLLAMA_DOCKER_TAG=latest
OPEN_WEBUI_DOCKER_TAG=main
QDRANT_DOCKER_TAG=latest
SEARXNG_DOCKER_TAG=latest
VALKEY_DOCKER_TAG=8-alpine

# Ports
OLLAMA_PORT=11434
OPEN_WEBUI_PORT=3000
QDRANT_HTTP_PORT=6333
QDRANT_GRPC_PORT=6334
SEARXNG_HOST_PORT=8081

# Ollama
OLLAMA_KEEP_ALIVE=-1

# Open WebUI
WEBUI_SECRET_KEY=change-this-open-webui-secret

# SearXNG
SEARXNG_BASE_URL=http://localhost:8081/
SEARXNG_SECRET=change-this-searxng-secret
SEARXNG_VALKEY_URL=valkey://valkey:6379/0
SEARXNG_LIMITER=false
SEARXNG_IMAGE_PROXY=true
SEARXNG_PUBLIC_INSTANCE=false
SEARXNG_METHOD=POST